<!doctype html>

<link rel='stylesheet' type='text/css' href='/static/ic.css'>
<script type='text/javascript' src='/static/jquery-1.8.2.min.js'></script>
<script type='text/javascript' src='/static/ic.js'></script>
<title>Image-Crawler Demo</title>

<h1>Image-Spider</h1>

<a href='https://github.com/bryankaplan/image-spider'><img id='github'
src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png'
alt='Fork me on GitHub'></a>

<form action='/' method='post'>
POST to resource: /

<textarea name='urls'>
http://example.com/
http://example.org/
http://example.net/
</textarea>

<input type='submit' value='Submit'>
<span id='loading'>Loading&hellip;</span>

<textarea id='output' disabled>
Responses
=========</textarea>

</form>

<table>
    <tr>
        <th>Job ID</th>
        <th>Status</th>
        <th>Result</th>
        <th>Stop</th>
    </tr>
</table>

<hr>
